* {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

li {
    border-style: ridge;
    margin: 5px auto;
    padding: 5px;
    
}

.main {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    /* border: 1px solid black; */
}

.js-list-results {
    padding: 0;
}